

.users-list>li{width:25%;float:left;padding:10px;text-align:center}.users-list>li>img{border-radius:50%; width:70px;height:70px}
.users-list-name,.users-list-date{display:block}
.users-list-name{font-weight:600;color:#444;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.users-list-name:hover{color:#999}.users-list-date{color:#999;font-size:12px}



.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

#datatable {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 900px;
}

#datatable caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

#datatable th {
  font-weight: 600;
  padding: 0.5em;
}

#datatable td,
#datatable th,
#datatable caption {
  padding: 0.5em;
}

#datatable thead tr,
#datatable tr:nth-child(even) {
  background: #f8f8f8;
}

#datatable tr:hover {
  background: #f1f7ff;
}


.text-small {
  font-size: 0.9rem;
}

.rounded {
  border-radius: 1rem;
}

.position-center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

a {
  color: inherit;
  text-decoration: none;
}


.widget {
    background: #fff;
    margin-bottom: .75rem;
    display: block;
    position: relative;
   }
.widget .widget-header,
.widget-reminder-content,
.widget-reminder-time,
a.widget-header-title {
    padding: 0.625rem;
}
.widget-chat-message:after,
.widget-chat-message:before,
.widget-reminder-container:after,
.widget-reminder-container:before {
    display: table;
    content: "";
    clear: both;
}
.widget-footer.with-border,
.widget-reminder-container + .widget-reminder-container {
    border-top: 1px solid #efeff4;
}
.widget-footer.with-bg,
.widget-header.with-bg {
    background: #efeff4;
}
.widget-header.with-border {
    border-bottom: 1px solid #efeff4;
}
.widget-reminder-header {
    background: #efeff4;
    padding: 0.625rem;
    font-size: 0.625rem;
    font-weight: 700;
    color: #8a8a8f;
}
.widget-reminder-container {
    position: relative;
}
.inverse-mode .widget-reminder-container + .widget-reminder-container {
    border-color: #333;
}
.inverse-mode .widget-reminder-header {
    background: #212121;
}
.widget-reminder-time {
    width: 5rem;
    float: left;
    text-align: right;
    font-size: 0.625rem;
}
.widget-reminder-divider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5rem;
    width: 0.125rem;
    background: #efeff4;
}
.widget-reminder-content {
    margin-left: 5.125rem;
}
.widget-header-title {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 500;
}
.widget .widget-title, .widget .widget-title a {
    font-size: .75rem;
    color: #000;
    line-height: 1rem;
}
.widget .widget-title {
    font-weight: 600;
    margin: 0;
}
.widget-desc, .widget-desc a {
    font-size: .6875rem;
    line-height: 1rem;
    color: #8A8A8F;
    font-weight: 500;
}
.img-circle {
    border-radius: 50%;
}

.pull-left {
    float: left!important;
}
.pull-right {
    float: right!important;
}
.m-t-15 {
    margin-top: 15px!important;
}

.m-r-5 {
    margin-right: 5px!important;
}

.widget .widget-header, .widget-reminder-content, .widget-reminder-time, a.widget-header-title {
    padding: .625rem;
}


.card {
    border: none;
    border-radius:10px;
    
}



.card-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ddd;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .50rem;
    border: none;
    cursor: pointer;
    transition: all 2s;
}

.card-inner:hover {
    transform: scale(1.1)
}

.mg-text span {
    font-size: 12px
}

.mg-text {
    line-height: 14px
}


.advanced {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none
}

.advanced {
    color: #00838f !important
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #00838f
}


.counter{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0 0;
    margin: 1px;
    position: relative;
}
.counter:before{
    content: "";
    border: 2px solid #ddd;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}
.counter .counter-icon{
    color: #00A69C;
    font-size: 30px;
    margin: 0 0 22px;
}
.counter .counter-content{
    background-color: rgba(0,166,156,0.9);
    padding: 26px 18px 20px;
    border-radius: 0 0 10px 10px;
    position: relative;
}
.counter .counter-content:before{
    content: '';
    background-color: #00A69C;
    width: 25px;
    height: 25px;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    left: 50%;
    top: -13px;
}
.counter h3{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 8px;
}
.counter .counter-value{
    font-size: 20px;
    font-weight: 800;
}
.counter.red .counter-icon{ color: #E44C4B; }
.counter.red .counter-content,
.counter.red .counter-content:before{
    background-color: rgba(228,76,75,0.9);
}
.counter.blue .counter-icon{ color: #027981; }
.counter.blue .counter-content,
.counter.blue .counter-content:before{
    background-color: rgba(2,121,129,0.9);
}
.counter.purple .counter-icon{ color: #3E6491; }
.counter.purple .counter-content,
.counter.purple .counter-content:before{
    background-color: rgba(62,100,145,0.9);
}

@media screen and (max-width:990px){
    .counter{ margin-bottom: 20px; }
    
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}


.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}


.news {
  width: 160px;
}
.news-scroll a {
  text-decoration: none;
}

/* Custom */
.main {
  background-color: #111;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}


.marquee a {
  color: black;
}


.panel{
    background: linear-gradient(to right, #2980b9, #2c3e50);
    padding: 0;
    border-radius: 1px;
    border: none;
 
}


.panel .panel-heading .btn:hover{
    color: #ddd;
    text-shadow: 3px 3px rgba(255,255,255,0.2);
}


.panel .panel-body{ padding: 0; }
.panel .panel-body .table thead tr th{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  
    border: none;
}
.panel .panel-body .table tbody tr td{
    color: #fff;
    font-size: 15px;
   vertical-align: middle;
    border: none;
}
.panel .panel-body .table tbody tr:nth-child(even){ background-color: rgba(255,255,255,0.05); }
.panel .panel-body .table tbody .action-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.panel .panel-body .table tbody .action-list li a:hover{ text-shadow: 3px 3px 0 rgba(255,255,255,0.3); }
.panel .panel-body .table tbody .action-list li a:before,
.panel .panel-body .table tbody .action-list li a:after{
    content: attr(data-tip);
    color: #fff;
    background-color: #111;
    font-size: 12px;
    border-radius: 4px;
    text-transform: capitalize;
    display: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -32px;
    transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:after{
    content: '';
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -18px;
    z-index: -1;
}
.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after{
    display: block;
}



/*--------------------------------------------------------------
# HalamanKepndudukan 
--------------------------------------------------------------*/
.populasi{
    background: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    width: 150px;
    padding: 0 0 8px;
    margin: 0 auto 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    position: relative;
}
.populasi:before{
    content: "";
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 5px 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    bottom: -15px;
    left: 50%;
}
.populasi .populasi-value{
    color: #fff;
    background: linear-gradient(to right, #19bbd2, #2778ee);
    font-size: 28px;
    font-weight: 600;
    padding: 0 0 3px;
    margin: 0 0 16px;
    border-radius: 10px 10px 0 0;
    display: block;
}
.populasi h3{
    color: #000;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;

}
.populasi .populasi-icon{
    color: #fff;
    background: linear-gradient(to right, #19bbd2, #2778ee);
    font-size: 40px;
    line-height: 60px;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    border-radius: 10px;
}

.populasi.yellow h3{ color: #e69814; }
@media screen and (max-width:990px){
    .populasi{ margin-bottom: 10px; }
}


/*--------------------------------------------------------------
# Halamanpemukiman
--------------------------------------------------------------*/


.stretch-cart>.cart {
     width: 100%;
     min-width: 100%
 }

 body {
     background-color: #f9f9fa
 }

 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 3rem
 }
 
 .cart {
     box-shadow: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -ms-box-shadow: none
 }

 .cart {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #3da5f;
     border-radius: 0
 }
 
 .cart .cart-block {
    padding: 1.25rem;
}

h6 {
    font-size: 16px !important;
}

.text-c-green {
    color: #2ed8b6;
}

.m-l-10 {
    margin-left: 10px;
}

.proj-progress-cart .progress {
    height: 6px;
    overflow: visible;
    margin-bottom: 10px;
}

.proj-progress-cart .progress .progress-bar {
    position: relative;
}

.progress .progress-bar {
    height: 100%;
    color: inherit;
}

.bg-c-red {
    background: #FF5370;
}

.proj-progress-cart .progress .progress-bar.bg-c-red:after {
    border: 3px solid #FF5370;
}

.proj-progress-cart .progress .progress-bar:after {
    content: "";
    background: #fff;
    position: absolute;
    right: -6px;
    top: -4px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.bg-c-blue {
    background: #4099ff;
}

.proj-progress-cart .progress .progress-bar.bg-c-blue:after {
    border: 3px solid #4099ff;
}

.proj-progress-cart .progress .progress-bar.bg-c-green:after {
    border: 3px solid #2ed8b6;
}

.bg-c-green {
    background: #2ed8b6;
}

.bg-c-yellow {
    background: #FFB64D;
}

.proj-progress-cart .progress .progress-bar.bg-c-yellow:after {
    border: 3px solid #FFB64D;
}

.m-b-30 {
    margin-bottom: 30px;
}

.text-c-red {
    color: #FF5370;
}



    /* Card Styles */

    .card-sl {
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom:20px;
    }

    .card-image img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px 8px 0px 0;
    }

    .card-action {
        position: relative;
        float: right;
        margin-top: -25px;
        margin-right: 2px;
        z-index: 2;
        color: #E26D5C;
        background: #fff;
        border-radius: 10%;
        padding: 5px;
        font-size: 20px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    }

    .card-action:hover {
        color: #fff;
        background: #E26D5C;
        -webkit-animation: pulse 1.5s infinite;
    }

    .card-heading {
        font-size: 14px;
        font-weight: bold;
        background: #fff;
        padding: 10px 15px;
    }

    .card-text {
        background: #fff;
        font-size: 14px;
        color: #636262;
    }

    .card-button {
        display: flex;
        justify-content: center;
        padding: 2px 0;
        width: 100%;
        background-color: #1F487E;
        color: #fff;
        border-radius: 0 0 8px 8px;
    }

    .card-button:hover {
        text-decoration: none;
        background-color: #1D3461;
        color: #fff;

    }


    @-webkit-keyframes pulse {
        0% {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

        70% {
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
            box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
        }

        100% {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
            box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
        }
    }


 .breadcrumb.breadcrumb-custom {
    padding: 0 0;
    border-color: #dbe3e6;
}


.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.56rem 1.13rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0.25rem;
}

nav {
    display: block;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item {
    font-size: 0.875rem;
    background: #dbe3e6;
    padding: 0.56rem 10px;
    color: #000;
    display: inline-block;
    vertical-align: top;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item:before {
    content: "";
}

.breadcrumb.breadcrumb-custom .breadcrumb-item a {
    position: relative;
    color: inherit;
    border: 1px solid #dbe3e6;
    display: inline-block;
    vertical-align: top;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item a:before {
    right: -22px;
    z-index: 3;
    border-left-color: #dbe3e6;
    border-left-style: solid;
    border-left-width: 12px;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item a:after {
    border-top: 21px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 12px solid #ffffff;
    top: -9px;
    right: -23px;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item:last-child {
    background: transparent;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item:before {
    content: "";
}
.breadcrumb.breadcrumb-custom .breadcrumb-item a:before, .breadcrumb.breadcrumb-custom .breadcrumb-item a:after {
    position: absolute;
    top: -9px;
    width: 0;
    height: 0;
    content: "";
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
}

a:link{
    
    text-decoration:none;
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "/";
}





